<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fettermann Aikidô - Consulta pública
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
    </header>

    <main>

        <div class="container pt-3 w-100">
            
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                    <!--
                    <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    -->
                    <img src="../images/logo-sm.png"/>
                    <span class="fs-4">Fettermann Aikidô</span>
                </a> 

                <ul class="nav nav-pills"> 
                    <li class="nav-item"><a id="menu-inicio" id="menu-inicio" 
                        href="/consulta" class="btn btn-sm btn-primary" aria-current="page">Início</a></li> 
                    <li class="nav-item"><a id="menu-dojos" name="menu-dojos" 
                        href="/consulta/dojos" class="btn btn-sm" aria-current="page">Dojos</a></li> 
                    <li class="nav-item">
                        <a id="menu-aniversariantes" name="menu-aniversariantes" class="btn btn-sm" 
                        href="/consulta/aniversariantes/<%= mes %>">Aniversariantes</a>
                    </li> 
                    <li class="nav-item"><a id="menu-graduacoes" id="menu-graduacoes" 
                        href="/consulta/graduacoes" class="btn btn-sm">Graduações</a></li> 
                    <li class="nav-item"><a id="menu-taxas" id="menu-taxas" 
                        href="/consulta/taxas" class="btn btn-sm">Taxas</a></li> 
                </ul>
            </header>

            <div class="card">
                <div class="card-header fw-bold">
                    <span id="bem-vindo" name="bem-vindo">Bem-vindo à E.M.A. - Escola Meirelles de Aikidô</span>
                </div>
                <div class="card-body">
                    <p>Somos uma escola de Aikidô filiada à <a href="http://www.fepai.org.br">Federação Paulista de Aikidô</a>
                    e à <a href="http://www.aikikai.or.jp/eng/">Fundação Aikikai</a>.
                    </p>
                    <p>Temos dojos nas cidades de Niterói (RJ) e Teresina (PI). </p>
                    <p>Aqui você pode consultar os dados públicos acessando o menu 
                    no topo da página.</p>
                </div>
            </div>

            <div class="container"> 
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
                    <div class="col-md-4 d-flex align-items-center"> 
                        <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.01 - Consulta pública - Fettermann Aikidô</span>
                        </div> 
                        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
                </footer> 
            </div>

        </div>
    </main>
</body>

</html>