<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto"> 
            <li class="nav-item">
                <a id="menu-dojos" name="menu-dojos" href="/dojos" 
                class="nav-link <%= pageAtiva === 'dojos' ? 'active' : '' %>" 
                aria-current="page">Dojos</a>
            </li> 
            
            <li class="nav-item">
                <a id="menu-pessoas" name="menu-pessoas" 
                class="nav-link <%= pageAtiva === 'pessoas' ? 'active' : '' %>" 
                href="/pessoas">Pessoas</a>
            </li> 

            <li class="nav-item">
                <a id="menu-graduacoes" name="menu-graduacoes" 
                href="/graduacoes" class="nav-link 
                <%= pageAtiva === 'graduacoes' ? 'active' : '' %>">Graduações</a>
            </li>

            <li class="nav-item dropdown">
                <a id="menu-financeiro" name="menu-financeiro" 
                class="nav-link dropdown-toggle <%= pageAtiva === 'financeiro' ? 'active' : '' %>" href="#" 
                role="button" data-bs-toggle="dropdown" 
                aria-expanded="false">
                        Financeiro
                </a>
                <ul class="dropdown-menu">
                    <li><a id="menu-taxas" name="menu-taxas" href="/taxas" 
                        class="nav-link" aria-current="page">Taxas</a></li>
                    <li><a id="menu-cobrancas" name="menu-cobrancas" href="/cobrancas" 
                        class="nav-link" aria-current="page">Cobranças</a></li>
                </ul>
            </li>

            <li class="nav-item"><a id="menu-sair" name="menu-sair" 
                href="/logout" class="nav-link">Sair</a></li> 
            </li> 
        </ul>
    </div>
  </div>
</nav>